
.tab-content-infor {
    width: 100%;
    height: auto;
    min-height: 200px;
}

.tab__match-detail-infor {
    width: 100%;
    height: 45px;
    padding: 12px 0;
}

.tab__match-detail-infor>div.tab-inner {
    position: relative;
    padding: 0 10px;
    width: 100%;
}

.tab__match-detail-infor>div.tab-inner>span {
    color: #aaa;
    font-size: 14px;
    line-height: 1.14285714;
    font-weight: 500;
    margin: 2px 15px;
    transition: all 0.4s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.tab__match-detail-infor>div.tab-inner>span::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 150%;
    bottom: -7.5px;
    background: var(--navbar-text-color);
    transform: translateX(-20px);
}

.tab__match-detail-infor>div.tab-inner>span::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 240%;
    left: -10px;
    background: var(--navbar-text-color);
}

.tab__match-infor-content {
    width: 100%;
    height: auto;
    padding: 17px;
}

.tab-match-infor-content-inner {
    width: 100%;
    height: 100;
    min-height: 150px;
    border-radius: 7.5px;
    ;
    display: flex;
    flex-direction: column;
}

.tab-content {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.tab-content__icon {
    line-height: 1;
    list-style: outside none none;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--third-color);
    margin-right: 10px;
}


.tab-content__icon::before {
    border-bottom: 20px solid transparent;
    border-left: 16px solid var(--third-color);
    border-top: 20px solid transparent;
    content: "";
    position: absolute;
    right: -16px;
    top: 0;
    z-index: 17;
}

.tab-content__icon>i {
    font-size: 18px;
    color: #aaa;
}

.tab-content__text{
    width: calc(100% - 40px - 30px - 40px);
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 70px;
    background: var(--third-color);
    position: relative;
}

.tab-content__text::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   border-bottom: 20px solid transparent;
   border-left: 16px solid var(--secondary-background);
   border-top: 20px solid transparent;
   z-index: 16;
}

