

.match-row {
    width: 100%;
    height: 70px;
    padding-bottom: 5px;
    color: #aaa;
    cursor: default;
    position: relative;
}

.match-link {
    width: 100%;
    height: 100%;
}

.match-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    position: relative;
    padding: 10px 0;
    flex: 1 1;
    text-decoration: none;
    color: #aaa;
    background: var(--primary-background);
    border-radius: 7.5px;
    margin: 3px 10px;
    cursor: pointer;
}

.match-container:hover{
    color: #fdfdfd;
    background: #333;
}

.match-container .status-time {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 08px;
    position: relative;
    color: #aaa;
    padding: 4px 0 0;
    text-transform: uppercase;
    font-size: 10.5px;
    justify-content: space-between;
}

.match-container > .status-time > span{
    margin: 4px 0;
}

.match-container>.match-infor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.match-infor > div{
    width: 100%;
    height: 20px;
    margin: 2.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.match-infor > div > div.team-infor, span.team-scores{ 
    display:flex;
    align-items: center;
    color: #fdfdfd;
    font-weight: 700;
    position: relative;
    margin-right: 13px;
}

.text-center{
    text-align: center;
}

.match-infor > div > div > span.team-flag{
    display: flex;
    margin-right: 13px;
    position: relative;
    align-items: center;
    width: 20px;
    height: 20px;
}

span.team-flag > img{
    width: 100%;
    height: 100%;
}


.match-infor > div > div > span.team-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--secondary-color);
    font-weight: 400;
}

.match-infor{
    z-index: 50;
}



.match-container:hover .match-infor > div > div > span.team-name{
    color: var(--primary-color);
}



.match-container>.favorite-icon {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.match-container>.favorite-icon>i {
    font-size: 18px;
    color: #666;
    cursor:default;
}


.match-container>.favorite-icon>i.icon-unhide {
    color:  var(--primary-color);
    transition:all 0.4s ease-in-out;
    cursor: pointer;
}

.match-container>.favorite-icon>i.icon-unhide:hover {
    color:  var(--navbar-text-color);
}


.match-container>.favorite-icon>i.fa-solid {
    color:  var(--navbar-text-color);
}


.match-infor > .away-team{
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

