
.match-news__row {
    width: 100%;
    height: 100px;
    border-bottom: 1.5px solid var(--primary-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
}

.match-news__row>img {
    width: 140px;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.match-news__infor {
    width: calc(100% - 140px);
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;

}

.match-news__text {
    width: 100%;
    height: 50px;
    padding: 0 0 0 10px;
    font-size: 15px;
    font-weight: 700;
    color: var(--primary-color);
    cursor: pointer;
}

.match-news__time-cate {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.match-news__tags {
    width: 78%;
    height: 100%;
    display: flex;
    font-size: 11px;
    color: var(--secondary-color);
    align-items: center;
}

.match-news__tag{
    margin: 0 4px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 10px;
    background: rgba(25,25,27,.4);
    border-radius: 15px;

}

.match-news__time {
    width: 21%;
    height: 100%;
    font-size: 11px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--secondary-color);
    text-align: center;
}
