.right-section{
    position:fixed;
    width: calc((100% - 1024px)/2);
    height: 100vh;
    right: 0;
}


.right-section >img{
    width: 100%;
    height: 100%;
}
    


@media  screen and (max-width: 1330px ) {
    .right-section{
        display: none;
    }
    
}