.football-layout-container {
    width: 100%;
    height: auto;
    min-height: 680px;
    display: flex;
    justify-content: space-around;
    padding: 0 3px;
    background: var(--primary-background)
}


@media screen and (max-width: 1023px) {
    .content-left {
        display: none
    }

    .content-center {
        width: 90% !important;
    }

    .content-right {
        display: none;
    }
}