.match-news__container {
    width: 100%;
    height: auto;
}

.news-tabs__container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 27px;
}


.news-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    background: var(--primary-background);
    font-size: 14px;
    line-height: 1.14285714;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 10px 0 0;
}

.news-tab:hover {
    background: rgba(252, 220, 75, 1.2);
    color: var(--third-color);
}

.news-tab__active {
    background: rgba(252, 220, 75, 1);
    color: var(--third-color);
}

.match-news__content {
    width: 100%;
}

.match-news__inner {
    width: 100%;
    height: auto;
    min-height: 100px;
}
